<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:orientation="horizontal"
        android:layout_marginLeft="10dp"
        android:layout_width="match_parent"
        android:layout_height="40dp"
        android:id="@+id/CitySection">
        <TextView
            android:text="@string/toponymName"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="120dp"
            android:layout_height="20dp"
            android:gravity="left"
            android:id="@+id/cityLabel" />
        <TextView
            android:text=""
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="60dp"
            android:gravity="center"
            android:id="@+id/toponymName" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_marginLeft="10dp"
        android:layout_width="match_parent"
        android:layout_height="40dp"
        android:id="@+id/StateSection">
        <TextView
            android:text="@string/adminName1"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="120dp"
            android:layout_height="30dp"
            android:gravity="left"
            android:id="@+id/StateLabel" />
        <TextView
            android:text=""
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="60dp"
            android:gravity="center"
            android:id="@+id/adminName1" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_marginLeft="10dp"
        android:layout_width="match_parent"
        android:layout_height="40dp"
        android:id="@+id/CountryNameSection">
        <TextView
            android:text="@string/countryName"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="120dp"
            android:layout_height="30dp"
            android:gravity="left"
            android:id="@+id/countryNameLabel" />
        <TextView
            android:text=""
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="60dp"
            android:gravity="center"
            android:id="@+id/countryName" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_marginLeft="10dp"
        android:layout_width="match_parent"
        android:layout_height="40dp"
        android:id="@+id/LngSection">
        <TextView
            android:text="@string/lng"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="120dp"
            android:layout_height="30dp"
            android:gravity="left"
            android:id="@+id/lngLabel" />
        <TextView
            android:text=""
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="60dp"
            android:gravity="center"
            android:id="@+id/lng" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_marginLeft="10dp"
        android:layout_width="match_parent"
        android:layout_height="40dp"
        android:id="@+id/LatSection">
        <TextView
            android:text="@string/lat"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="120dp"
            android:layout_height="30dp"
            android:gravity="left"
            android:id="@+id/latLabel" />
        <TextView
            android:text=""
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="60dp"
            android:gravity="center"
            android:id="@+id/lat" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_marginLeft="10dp"
        android:layout_width="match_parent"
        android:layout_height="40dp"
        android:id="@+id/TempSection">
        <TextView
            android:text="@string/temperature"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="120dp"
            android:layout_height="30dp"
            android:gravity="left"
            android:id="@+id/tempLabel" />
        <TextView
            android:text=""
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="60dp"
            android:gravity="center"
            android:id="@+id/temperature" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_marginLeft="10dp"
        android:layout_width="match_parent"
        android:layout_height="40dp"
        android:id="@+id/DateTimeSection">
        <TextView
            android:text="@string/datetime"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="120dp"
            android:layout_height="30dp"
            android:gravity="left"
            android:id="@+id/datetimeLabel" />
        <TextView
            android:text=""
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="60dp"
            android:gravity="center"
            android:id="@+id/datetime" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_marginLeft="10dp"
        android:layout_width="match_parent"
        android:layout_height="40dp"
        android:id="@+id/HumiditySection">
        <TextView
            android:text="@string/humidity"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="120dp"
            android:layout_height="30dp"
            android:gravity="left"
            android:id="@+id/humidityLabel" />
        <TextView
            android:text=""
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="60dp"
            android:gravity="center"
            android:id="@+id/humidity" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_marginLeft="10dp"
        android:layout_width="match_parent"
        android:layout_height="40dp"
        android:id="@+id/ConditionsSection">
        <TextView
            android:text="@string/conditions"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="120dp"
            android:layout_height="30dp"
            android:gravity="left"
            android:id="@+id/conditionsLabel" />
        <TextView
            android:text=""
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="60dp"
            android:gravity="center"
            android:id="@+id/conditions" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_marginLeft="10dp"
        android:layout_width="match_parent"
        android:layout_height="40dp"
        android:id="@+id/PopulationSection">
        <TextView
            android:text="@string/population"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="120dp"
            android:layout_height="30dp"
            android:gravity="left"
            android:id="@+id/populationLabel" />
        <TextView
            android:text=""
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="60dp"
            android:gravity="center"
            android:id="@+id/population" />
    </LinearLayout>
    <LinearLayout
        android:orientation="vertical"
        android:layout_marginTop="28dp"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:gravity="center_horizontal"
        android:id="@+id/backSection">
        <Button
            android:id="@+id/ButtonBack"
            android:layout_width="300dp"
            android:layout_height="wrap_content"
            android:gravity="center_horizontal"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:text="@string/btn_back" />
    </LinearLayout>
</LinearLayout>